{% load static %}   <!-- Django模板中的一個指令，用於載入靜態文件，例如CSS和JavaScript文件 -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>會員登入首頁</title>
        <!-- % static %則是Django模板中的一個指令，用於將靜態文件的路徑轉換成對應的URL -->
        <link rel="stylesheet" type="text/css" href="{% static 'members/login-register-style.css' %}"/>
    </head>

    <body>
        <div class="container">
            <div class="form-container">
                <h2>會員登入</h2>
                <!-- 建立會員登入表單 -->
                <form id="login-form" method="post">    <!-- method屬性為post表示使用POST方法提交表單 -->
                    {% csrf_token %}    <!-- Django模板標籤，用於生成一個CSRF令牌，以防止跨站請求偽造 -->
                    <!-- text >> 文字輸入框 ; placeholder >> 輸入框中的提示字詞，用戶輸入後將覆蓋 ; required >> 必填欄位，未填將會跳出提示-->
                    <input id="login-username" type="text" placeholder="請輸入帳號" required/>
                    <!-- password >> 密碼輸入框，用戶輸入會自動遮蔽密碼 -->
                    <input id="login-password" type="password" placeholder="請輸入密碼" required/>
                    <!-- submit >> 提交表單數據 -->
                    <button type="submit">登入</button>
                </form>
                <!-- 添加一個導向註冊頁面的按鈕 -->
                <button id="go-to-register" type="button">註冊新會員</button>
                <!-- 添加一個導向Django Admin的按鈕 -->
                <div id="loginAdmin">Login to Django Admin</div>
            </div>
        </div>

        <script src="{% static 'members/login.js' %}"></script>

    </body>
</html>